* {
    all: unset;
    font-family: FiraCode Nerd Font;
    font-size: 11px;
    font-weight: 800;
}

#workspaces {
    margin: 5px;
}

#workspaces button {
    transition: all 0.3s ease;
}

#workspaces button.occupied label {
    color: blue;
}

#workspaces button.active label {
    color: red;
    transform: scale(1.5);
}
